@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: "Roboto Mono", monospace;
    background-color: #0B192C;
    color: #d6e4f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 50vw;
    max-width: 400px;
}
.section-pwd,.section-setting{
    background-color: #445a73;
    padding: 1rem 1.5rem;
    width: 100%;
}

.section-pwd{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 1.5rem;
}
.container-icono, .container-icono i{
    color: #03C988;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 300ms;
}
#btn-copy:hover, #btn-copy i:hover{
    color: #d6e4f8;
}

.section-setting{
    font-weight: 500;
    font-size: 0.9rem;
    
}
.section-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container-length{
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 1rem;
    align-items: center;
    text-transform: capitalize;
}
#txt-pwd{
    color: #d6e4f867;
    font-size: 1rem;
}

#length{
    width: 100%;
    grid-column: 1/3 ;
}

input[type="checkbox"] {
    
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #d6e4f8;
    cursor: pointer; 
    margin-right: 1rem;
}
.container-include{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input[type="checkbox"]:checked {
    background-color: #FFD717;
    position: relative;
}

.container-strength {
    background-color: #0b192c69;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.retangle-indicator{
    width: 0.3rem;
    height:  1rem;
    border: 2px solid #d6e4f8;
}
.retangle-selected{
    width: 0.3rem;
    height:  1rem;
    border: 2px solid #FFD717;
    background-color: #FFD717;
}
.icons-strength{
    display: flex;
    gap: 0.5rem;
}
.btn-generate{
    background-color: #03C988;
    text-transform: uppercase;
    color:#494a4bad ;
    font-weight: 600;
    padding: 0.8rem;
    word-spacing: 1rem;
    transition: 300ms;
}
.btn-generate:hover{
    background-color: #03c987be;
    color: #e1e7edad;
}

.level_activado{
    background-color:#ffd817dd;
    border-color:#ffd817dd;
}
.section-strength{
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    color: #FFD717;
}
#txt-pwd.generado{
    color: #d6e4f8;
}

.error{
    margin: 1rem 0;
    text-align: left;
    word-spacing: 0;
}