@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    color: #1D1616;
    font-family: "Open Sans", serif;
}
img{
    width: 100%;
    height: 100%;
}
body{
    background-color: #ebe9e423;
}
svg{
    width:100%;
}
i:hover{
    cursor: pointer;
    transform: scale(1.04);
}
i{
    color: #262323da;
}
main{
    display: grid;
}
nav button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.sct-img {
    position: relative;
}
.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1616;
    height: 100vh;
    gap: 1rem;
    
}
/*ZONA DE ICONOS*/

.iconos-imagen{
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #1d161649;
    width: 100%;
}
.iconos-imagen div{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.imagen-principal{
    margin: 1rem;
    width: 80%;
    height: 80%;
}
.iconos-imagen i{
    color: #ffffff;
}
/*ENCABEZADO IMAGEN*/
.encabezado-img{
    z-index: 10;
    background-color: aqua;
}

/*zONA ICONOS COMENTARIOS*/
.encabezado-comentarios{
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #fffbfb ;
    -webkit-box-shadow: -2px 9px 16px -5px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: -2px 9px 16px -5px rgba(0, 0, 0, 0.21);
    box-shadow: -2px 9px 16px -5px rgba(0, 0, 0, 0.21);
}
.nav-iconos-comentarios{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: .5rem;
    gap: 2rem;
}
.nav-iconos-comentarios svg{
    width: 1.2rem;
}
.img-perfil{
    border-radius: 1000px;
    overflow: hidden;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    max-height: 3rem;
}

.nav-iconos-comentarios button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.sct-descripcion{
    display: flex;
    flex-direction: column;
    border-bottom: #4241415e solid 1px;
    /* background-color: aqua; */
}
.titulo-descripcion{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-comentarios{
    padding: 1rem;
}
.main-comentarios p{
    padding: 1rem;
    text-align: justify;
}
hgroup{
    width: 80%;
}
.sct-iconos-reacion{
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
    cursor: default;
    
}
.sct-iconos-reacion i{
    cursor: default;
}
.sct-iconos-reacion i:hover{
    transform: none;
}

.sct-btn-reaccion{
    display: flex;
    justify-content: space-between;
    border-bottom: #4241415e solid 1px;
}

.sct-btn-reaccion button {
    margin: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #e2f1e700;
    transition: 300ms;
    border-radius: 1rem ;
    
}
.sct-btn-reaccion i{
    font-size: 1rem;
}
.sct-btn-reaccion button:hover{
    cursor: pointer;
    background-color: #E2F1E7;
    border-radius: 1rem ;
}
.sct-btn-reaccion button:hover i{
    transform: scale(1.1);
}
.sct-input{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.sct-formulario{
    flex: 1;
}
.sct-formulario form{
    display: flex;
    align-items: center;
    width: 100%;
}
.comentario-input{
    width: 90%;
    padding: 1rem;
}
#comentario-text{
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width:90% ;
-webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
}
.btn-send{
    background-color: transparent;
    border: none;
}
.btn-send i{
    font-size: 1.2rem;
}

.cmt-elemento{
    margin: 1rem;
    padding: 1rem;
    border: none;
    overflow: hidden;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    font-size: .8rem;
}
.cmt-elemento .inf-user{
    grid-column: 1/3;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}
.inf-user .img-perfil{
    width: 3rem;
    height: 100%;
    border-radius: 100vh;
    overflow: hidden;
    background-color: yellowgreen;
    transform: scale(0.8);
}
.inf-perfil{
    display: flex;
    flex-direction: column;
}
.cmt-elemento span{
    grid-column:1/2 ;
    grid-row:2/3;
    margin: 2px;
    font-size: 12px;
}
.cmt-elemento p{
    grid-column:1/4 ;
    grid-row:3/4;
}
.cmt-elemento button{
    grid-column:3/4 ;
    grid-row:1/3 ;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    
}

.sct-comentarios{
    
    padding: 1rem;
}
.zona-comentario{
    height: 100%;
    background-color: aquamarine;
}
#btn-liked.activo-btn i {
    color: blue;
}
#sin-coment{
    color: #1d161651;
    text-align: center;
}

.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem ;
}
.ilustracion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    height: 500px;
    
    -webkit-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75);
    padding: 2rem 3rem;
    border-radius: 1rem;
    transition: 300ms;
}
.ilustracion:hover{
    transform: scale(1.01);
}
.show_picture{
    margin: 1rem;
    padding: 0.5rem 1rem ;
    background-color: #b276ea;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 300ms;
}
.show_picture a{
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    
}
.show_picture:hover{
    background-color: #fff;
    border: 1px solid #b276ea;
}
.show_picture:hover a{
    color:#b276ea;
}
.container-ilustracion{
    border-radius: 1rem;
    overflow: hidden;
}
@media only screen and (min-width: 1524px) {

    main {
        width: 100vw;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 12fr;
        height: 100vh;

    }
    header{
        grid-column: 2/3;
        min-height: 4rem;
    }
    .sct-img{
        grid-column: 1/2;
        grid-row: 1/5;
    }
    .sct-comentarios{
        overflow: scroll;
    }
    .main-index{
        flex-direction: row;
    }
}
